.canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.options {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
