.userMessage {
    color: blue;
}

.othersMessage {
    color: black;
}


//CHAT
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.messages {
    overflow-y: scroll;
    height: auto;
    margin: 0;
}

.message-input {
    height: auto;
}
