.option {
    border-radius: 5px;
    height: 48px;
    width: 48px;
    font-size: 14px;
    line-height: 48px;
    cursor: pointer;
    font-weight: bold;
}

.option { background-color: gray; }
.option.black { background-color: black; }
.option.red { background-color: red; }
.option.green { background-color: green; }
.option.blue { background-color: blue; }
.option.yellow { background-color: yellow; }
