// STATUS BAR
// .statusBar {
//     width: 100%;
//     height: 20%;
// }

// WHITEBOARD
.whiteboard {
    position: relative;
    width: 100%;
    height: 70%;
}

// CHAT
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}
